{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        <script src='{{ asset('produit/produit.js') }}'></script>
    {% endif %}
{% endblock %}
{% block body %}
    <h1>{{ 'produit.all'|trans }}</h1>
    
    {% if is_granted('ROLE_ADMIN') %}
    <div id='produit_showForm' class='btn btn-success'>{{ 'btn.add'|trans}}</div>
    <div id='form' hidden>
        {% include 'components/formDefault.html.twig' with { 'form':formProduit,'formtype':'produit.form_create'} %}
    </div>
    {% endif %}
    <table class="table">
        <tbody>
        {% for produit in produits %}
            <tr>
                <td colspan="7">
                {% include 'components/produit/card.html.twig' with { 
                    'item':produit,
                    'links':[{
                        'path':'produit',
                        'id':produit.id,
                        'class':'btn btn-primary',
                        'action': 'btn.seeMore'}],
                }%}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
